{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="row h-auto">
    <div class="col-sm-8 mx-auto pt-5">
        <div class="card">
            <div class="card-title bg-success text-white p-3">
                <p class="h4">Password changed!</p>
            </div>
            <div class="card-body">
                <a href="{% url 'accounts:profile' %}" class="btn btn-success">
                    Back to profile page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}