{% extends "base.html" %}

{% block content %}
<div class="container">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Manage your tasks</h1>
            <p class="lead">
                Systems supports: registration,
                authentication, task management, filtration.
            </p>
            <p class="lead">
                <a href="{% url 'accounts:login' %}" class="btn btn-lg btn-secondary">Login</a>
            </p>
        </main>

</div>
{% endblock %}