{% extends "base.html" %}

{% block title %}
<h1>Tasks for {{user.email}}</h1>
{% endblock %}

{% block content %}
<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form>
<a href="{% url 'tasks:task_list' %}">Clear filters</a>
<a href="{% url 'tasks:task_list'  %}?assigned_to={{request.user.pk}}">My tasks</a>
<ul>
    {% for task in filter.qs %}
        <li>
            <p>{{ task.name }}</p>
            <p><a href="{% url 'tasks:task_detail' task.id %}">Detail</a></p>
            <p><a href="{% url 'tasks:task_edit' task.id %}">Edit</a></p>
            <p><a href="{% url 'tasks:task_delete' task.id %}">Delete</a></p>
        </li>
    {% empty %}
      <li>No tasks yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'tasks:task_add' %}">Add task</a>
{% endblock %}
